swagger: "2.0"
info:
  version: "1.0"
  title: VTour API
  description: VTour API Services
host: vtour.com
basePath: /v1
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /users:
    x-swagger-router-controller: users/Users
    get:
      operationId: getUsers
      tags:
        - secured
      responses:
        200:
          description: A list of users
          schema:
            type: array
            items: '#/definitions/User'
        500:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /hotels:
    x-swagger-router-controller: hotels/Hotels
    get:
      operationId: getHotels
      tags:
        - secured
      responses:
        200:
          description: A list of hotels
          schema:
            type: array
            items: '#/definitions/Hotel'
        500:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /auth/token:
    x-swagger-router-controller: Auth
    post:
      operationId: login
      tags:
        - security
      parameters:
        - name: username
          in: body
          description: Username for the user
        - name: password
          in: body
          description: Password of the user (SHA256)
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/TokenResponse"
        500:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"



definitions:
  ErrorResponse:
    required:
      - code
      - message
    properties:
      code:
        type: string
      message:
        type: string
  TokenResponse:
    required:
      - token
      - username
      - firstName
    properties:
      token:
        type: string
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      role:
        type: string
  User:
    properties:
      username:
        type: string
      password:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      phone:
        type: string
      role:
        type: string
  Hotel:
    properties:
      name:
        type: string
      address:
        type: string
      phone:
        type: string
      intro:
        type: string
      url:
        type: string
